{% extends "index.html" %}

{% block body %}


<form method="post">
    <div class="mb-3">
        <label for="name" class="form-label"><b>E-mail</b></label>
        <input type="text" name="e_mail" class="form-control form-control" placeholder="E-mail Giriniz" value="{{usr}}">
    </div> 

    <div class="mb-3">
        <label for="name" class="form-label"><b>Şifre</b></label>
        <input type="text" name="password" class="form-control form-control" placeholder="Şifre Giriniz">
    </div> 

    <button type="submit" class="btn btn-primary">Giriş Yap</button>
</form>

{% endblock %}

