{% extends "index.html" %}

{% block body %}

<section class="p-5 text-center urunler">
  <div class="container">
      <h2 class="mb-5 font-weight-bold">MEYVELER</h2> 
      <hr class="ayrac"><i class="fa-solid fa-basket-shopping ibeyaz"></i>

      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100 shadow urunCard">
            <img src="static/img/armut.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Armut</h5>
              <p class="card-text">text</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow urunCard">
            <img src="static/img/cilek.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Çilek</h5>
              <p class="card-text">Text</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow urunCard">
            <img src="static/img/elma.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Elma</h5>
              <p class="card-text">text</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow urunCard">
            <img src="static/img/erik.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Erik</h5>
              <p class="card-text">text</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow urunCard">
            <img src="static/img/karpuz.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Karpuz</h5>
              <p class="card-text">text</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow urunCard">
            <img src="static/img/kavun.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Kavun</h5>
              <p class="card-text">text</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow urunCard">
            <img src="static/img/kiraz.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Kiraz</h5>
              <p class="card-text">text</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow urunCard">
            <img src="static/img/mandalina.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mandalina</h5>
              <p class="card-text">text</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow urunCard">
            <img src="static/img/muz.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Muz</h5>
              <p class="card-text">text</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow urunCard">
            <img src="static/img/portakal.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Portakal</h5>
              <p class="card-text">text</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow urunCard">
            <img src="static/img/seftali.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Şeftali</h5>
              <p class="card-text">text</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow urunCard">
            <img src="static/img/uzum.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Üzüm</h5>
              <p class="card-text">text</p>
            </div>
          </div>
        </div>
    </div>
</section>

          
{% endblock %}