{% extends "index.html" %}

{% block body %}

<div class="d-flex align-items-start menu">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link active btn-danger" id="v-pills-bilgiler-tab" data-bs-toggle="pill" data-bs-target="#v-pills-bilgiler" type="button" role="tab" aria-controls="v-pills-bilgiler" aria-selected="true">Kullanıcı Bilgilerim</button>
      <button class="nav-link btn-danger" id="v-pills-basket-tab" data-bs-toggle="pill" data-bs-target="#v-pills-basket" type="button" role="tab" aria-controls="v-pills-basket" aria-selected="false">Siparişlerim</button>
      <button class="nav-link btn-danger" id="v-pills-cikisyap-tab" data-bs-toggle="pill" data-bs-target="#v-pills-cikisyap" type="button" role="tab" aria-controls="v-pills-cikisyap" aria-selected="false">Çıkış Yap</button>

    </div>
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-bilgiler" role="tabpanel" aria-labelledby="v-pills-bilgiler-tab"></div>
      <div class="tab-pane fade" id="v-pills-basket" role="tabpanel" aria-labelledby="v-pills-basket-tab">...</div>
      <div class="tab-pane fade" id="v-pills-cikisyap" role="tabpanel" aria-labelledby="v-pills-cikisyap-tab">...</div>
    </div>
  </div>


{% endblock %}


{% block footer %}
        <br><br><br>
       <!--footer-->
       <div class="bg-dark text-light text-center" id="footer">
        <p class="alighn-middle p-5 mb-0">
            <span>Tüm hakları saklıdır &copy; | 2022</span><br>
            <span><i>Designed by </i> <b>İpek ÇIDIK & Kerem Enes ERSOY</b></span>
        </p>
    </div> 
{% endblock %}
