{% extends "index.html" %}

{% block body %}

<div class="mb-3">
    <label for="name" class="form-label">İsim</label>
    <input type="text" name="name" class="form-control form-control" placeholder="İsim giriniz.">
</div> 

<div class="mb-3">
    <label for="name" class="form-label">Soyisim</label>
    <input type="text" name="surname" class="form-control form-control" placeholder="Soyisim giriniz.">
</div>

<div class="mb-3">
    <label for="password" class="form-label">Şifre</label>
    <input type="password" name="password" class="form-control form-control" placeholder="Şifre belirleyiniz.">
</div> 
<div class="mb-3">
    <label for="password" class="form-label">Şifre (Tekrar)</label>
    <input type="password" name="password" class="form-control form-control" placeholder="Şifreyi tekrar giriniz.">
</div> 

<div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" name="email" id="email" class="form-control" placeholder="Email adresinizi giriniz.">
</div>

<div class="mb-3">
    <label for="text" class="form-label">Cep Telefonu</label>
    <input type="phoneNumber" name="ceptelefonu" id="ceptelefonu" class="form-control" placeholder="(+90) (___) ___ - __ __">
</div>

<div class="mb-3">
    <label for="addres" class="form-label">Adres</label>
    <textarea name="addres" class="form-control" placeholder="Adres giriniz."></textarea>
</div>















{% endblock %}


