{% extends "index.html" %}

{% block body %}
{% from 'includes/formhelpers.html' import render_field %}

<form>
<div class="mb-3">
    
    {{ render_field(form.Name,class = "form-control") }}
</div> 

<div class="mb-3">
    
    {{ render_field(form.SurName,class = "form-control") }}
</div>

<div class="mb-3">
    {{ render_field(form.Password,class = "form-control") }}
</div> 
<div class="mb-3">
    {{ render_field(form.Confirm,class = "form-control") }}
</div> 

<div class="mb-3">
    {{ render_field(form.Email,class = "form-control") }}
</div>

<div class="mb-3">
    {{ render_field(form.Phone,class = "form-control") }}

</div>

<div class="mb-3">
    {{ render_field(form.Adress,class = "form-control") }}
</div>
<button type="submit" class="btn btn-primary">Kayıt Ol</button>
</form>

{% endblock %}


