{% extends "index.html" %}

{% block body %}

<section class="p-5 text-center urunler">
    <div class="container">
        <h2 class="mb-5 font-weight-bold">SEBZELER</h2> 
        <hr class="ayrac"><i class="fa-solid fa-basket-shopping ibeyaz"></i>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100 shadow urunCard">
                <img src="static/img/bamya.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Bamya</h5>
                  <p class="card-text">text</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 shadow urunCard">
                <img src="static/img/barbunya.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Barbunya</h5>
                  <p class="card-text">Text</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 shadow urunCard">
                <img src="static/img/biber.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Biber</h5>
                  <p class="card-text">text</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 shadow urunCard">
                <img src="static/img/domates.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Domates</h5>
                  <p class="card-text">text</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 shadow urunCard">
                <img src="static/img/fasulye.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Fasulye</h5>
                  <p class="card-text">text</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 shadow urunCard">
                <img src="static/img/ıspanak.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ispanak</h5>
                  <p class="card-text">text</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 shadow urunCard">
                <img src="static/img/lahana.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lahana</h5>
                  <p class="card-text">text</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 shadow urunCard">
                <img src="static/img/maydanoz.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maydanoz</h5>
                  <p class="card-text">text</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 shadow urunCard">
                <img src="static/img/patates.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Patates</h5>
                  <p class="card-text">text</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 shadow urunCard">
                <img src="static/img/patlican.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Patlıcan</h5>
                  <p class="card-text">text</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 shadow urunCard">
                <img src="static/img/sarimsak.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Sarımsak</h5>
                  <p class="card-text">text</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 shadow urunCard">
                <img src="static/img/sogan.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Soğan</h5>
                  <p class="card-text">text</p>
                </div>
              </div>
            </div>
          </div>
    </div>
 </section>


{% endblock %}