<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark navbarStyle">
    <a class="navbar-brand" href="/">E-MANAV</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Anasayfa <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#hakkimizda">Hakkımızda</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="urunler" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ürünler</a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Meyveler</a></li>
            <li><a class="dropdown-item" href="#">Sebzeler</a></li>
          </ul>
        </li>
      </ul>



      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link fa-solid fa-cart-shopping isepet" href="/basket">  Sepetim</a>
        </li>

        {% if session["logged_in"] %}
        <li class="nav-item active">
          <a class="nav-link" href="/myaccount">Hesabım</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/logout">Çıkış</a>
        </li>
        {% else %}

        <li class="nav-item active">
          <a class="nav-link" href="/register">Kayıt Ol</a>
        </li>    
        <li class="nav-item active">
          <a class="nav-link" href="/login">Giriş Yap</a>
        </li>

        {% endif %}
      </ul>
    </div>
</nav> 